
*{
    margin: 0;
    padding: 0;
}


.cabeçalho {
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 24px 0 ;
}

.cabeçalho-imagem{
    width: 20%;
}

.cabeçalho-lista-item{
    display: inline;
    margin: 0 16px;
    font-size: 24px;
}

body{
    background-color: rgb(255, 255, 255);
    font-style: italic;
}

.quemsomos-teto-1{
    font-size: ;
}